logging.level:
  root: INFO
  org.springframework.jdbc.core: DEBUG
  org.springframework.jdbc.core.StatementCreatorUtils: DEBUG
  org.springframework.jdbc.core.JdbcTemplate: DEBUG

server.port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/customersdb?useSSL=false
    username: user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate.ddl-auto: create-drop
  main:
    allow-bean-definition-overriding: true
